@tailwind base;
@tailwind components;
@tailwind utilities;

body,
nav{
  color: white;
  background: linear-gradient(-45deg, black, black, #4c1d95, black);
  background-size: 1000% 1000%;
}

/* OR 
nav{
  @apply whatever whatever
  @apply whatever whatever
} */

.box{
  position: relative;
  background: rgba(225,225,225,.05);
  padding: 50px;
  border: 1px solid white;
}